/* reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* common */
body{
    height: 100vh;
}

/* header */
header{
    height: 150px;
    background-color: lightgray;
}

/* main */
main{
    background-color: aquamarine;
    height: calc(100vh - 250px);
}

.container{
    max-width: 1000px;
    margin: auto;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

/* footer */
footer{
    height: 100px;
    background-color: lightblue;
}