/* reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* common */
body{
    height: 100vh;
}

/* header */
header{
    height: 120px;
    background-color: lightgray;
}

/* main */
main{
    background-color: aquamarine;
    height: calc(100vh - 220px);
}

.game{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.container{
    width: 50%;
    height: 100%;
    max-width: 750px;
    margin: auto;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > .cell{
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid red;     
        
        &.red{
            background-color: red;
        }
    }
}

/* footer */
footer{
    height: 100px;
    background-color: lightblue;
}