/* reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* common */
body{
    height: 100vh;
}

.d-none{
    display: none;
}

/* header */
header{
    height: 120px;
    background-color: lightgray;

    > nav{
        height: 100%;
        padding: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > .btn{
            font-size: 1.5rem;
            padding: 0.5rem 2rem 0.5rem 2rem;
            border-radius: 20px;
        }
    }
}

/* main */
main{
    background-color: aquamarine;
    height: calc(100vh - 220px);
}

#game{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.container{
    width: 50%;
    height: 100%;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    > .cell{
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;     
        
        &.blue{
            background-color: lightskyblue;
        }
    }
}

/* footer */
footer{
    height: 100px;
    background-color: lightblue;
}